body{
	margin: 0;
	padding: 0;
    background-color: black;

}




.titulo{
	width: 100%;
	margin-top: 5.5%;
	padding: 0;
	display: flex;
	justify-content: center;
	color: black;
	background-color: white;
}
.titulo2{
	width: 100%;
	margin-top: 5.5%;
	padding: 0;
	display: flex;
	justify-content: center;
	color: #daa520;
	background-color: white;
}

.titulo h1, .titulo2 h1{
	font-size: 70px;
	font-family: "Jost", sans-serif;
}

@media (max-width: 900px){
.titulo h1, .titulo2 h1{
	font-size: 30px;
}	
}


@media (max-width: 700px){
	.titulo{
	height: 100%;
	margin-top: 15%;
	padding: 0;
	display: flex;
	justify-content: center;
	background-color: white;
	color: black;
	}
}

@media (max-width: 700px){
	.titulo2{
	height: 100%;
	margin-top: 17%;
	padding: 0;
	display: flex;
	justify-content: center;
	background-color: white;
	color: #daa520;
	}
}


@media (max-width: 900px){
.carrossel{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 8%;
}
}






.carrossel{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 2.8%;
	background-image: none;
	background-color: transparent;
}

@media (max-width: 900px){
	.containerimg{
		margin-top: 5%;
		display: flex;
		justify-content: space-around;
		margin-left: 5%;
		margin-right: 5%;
		flex-wrap: wrap;
	
	}
	}
	

.containerimg{
	margin-top: 5%;
	display: flex;
	justify-content: space-around;
	margin-left: 5%;
	margin-right: 5%;
	flex-wrap: wrap;

}

.containerimg img{
	width: 25%;
	background-color: white;
	padding-bottom: 6%;
	padding-top: 1%;
	padding-right: 1%;
	padding-left: 1%;
}

.carrossel img{
	background-color: white;
	padding-bottom: 12%;
	padding-top: 2%;
	padding-right: 2%;
	padding-left: 2%;
}




.indice{
	display: flex;
	justify-content: space-around;
	margin-top: 5%;
}



.fotos{
	margin-bottom: 5%;
}


.containerimg img:hover{
	transform: scale(1.2);
	
}

.containerimg img{
	transition: 0.1s linear;

}
